services:
  app:
    build: .
    command: streamlit run app/dashboard.py --server.port=8501 --server.address=0.0.0.0
    env_file:
      - .env
    environment:
      PG_CONN_STR: ${PG_CONN_STR}
      PYTHONPATH: /app
    volumes:
      - .:/app
    ports:
      - "8501:8501"

  etl:
    build: .
    entrypoint: ["sleep", "infinity"]
    env_file:
      - .env
    environment:
      PG_CONN_STR: ${PG_CONN_STR}
      DATA_DIR: data/raw
      PYTHONPATH: /app
    volumes:
      - .:/app
    profiles:
      - etl
